* {
    font-family: 'Inter Tight', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-family: 'Gasoek One', sans-serif;
    font-weight: normal;
    transform: scale(1, .8);
}

.content {
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: #fff;
}

.footer {
    background-color: #f6f8fc;
    text-align: center;
    padding: 2rem;
}

.footer p {
    color: #878c94;
    font-size: .9rem;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}